*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero{
    background-image: url("./jumbo.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.c92flex{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}